.header{
    display: flex;
}

.header div{
    border: 1px solid gray;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    background: lightgray;
    text-align: center;
}

.content {
    display:flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}

.Main {
    border: 1px solid gray;
    margin: 5px;
    flex:1 1 2px;
    padding: 5rem;
    background: lightgray;
    text-align: center;
  }
  .line-break {
    flex-basis: 100%;
  }
.Sub {
    border: 1px solid gray;
    margin: 5px;
    flex:1 1 2px;
    padding: 5rem;
    background: lightgray;
    text-align: center;
  }

.footer{
    display: flex;
}

.footer div{
    border: 1px solid gray;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    background: lightgray;
    text-align: center;
}