.Instructors{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
  }
  .Instructors > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.1);
  }
  .Instructors > div:nth-child(2){
    margin: 1em 2em;
  }